body {
    font-size: 16px;
    line-height: 30px;
    font-family: Trebuchet MS, sans-serif;
    color: black;
}
  
  
  .navigation li {
    float: left;
  }
  
  .navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigation li a:hover:not(.active) {
    background-color: darkslategray;
  }
  
  .active {
    background-color: #333;
  }




header,
footer,
main,
nav {
    margin: 1rem auto;
    padding: .70rem 1.8rem .8rem;
    max-width: 950px;
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}


header,
footer,
footer a {
    text-align: center;
    background-color:lightseagreen;
    color: whitesmoke;
}



  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contactform_input {
  border-radius: 25px;
  background: pink;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 400px;
  height: 450px;  
  
}

#contact_list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #contact_list td, #contact_list th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #contact_list tr:nth-child(even){background-color: #f2f2f2;}
  
  #contact_list tr:hover {background-color: #ddd;}
  
  #contact_list  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
  }

  input[type=button]:hover {
    background-color: yellowgreen;
  }

  input[type=button] {
   
    background-color:gray;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 93%;
}

fieldset {
    border-radius: .5em;
    background: lightgrey;
}

 




footer {
    font-size: 0.75rem;
}


