main {
  

}


body {
    font-size: 16px;
    line-height: 30px;
    font-family: Trebuchet MS, sans-serif;
    color: black;
}

nav ul {
    padding-left: 0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding: .5rem 0;
    max-width: 1000px;
}

.navigation li a {
    text-decoration: none;
    color:black;
    font-weight: 600;
    padding: .3rem 2rem;
}

.navigation li {
    list-style-type: none;
    padding-top: .3rem;
}

.navigation li a:hover { 
    background-color: yellow; 
}

.navigation li a.active {
    color: black;
    font-size: 1.5rem;
}

.navigation li ul {
    display: none;
}



header,
footer,
main,
nav {
    margin: 1rem auto;
    padding: .70rem 1.8rem .8rem;
    max-width: 950px;
    
}



header,
footer,
footer a {
    text-align: center;
    background-color: blue;
    color: whitesmoke;
}




footer {
    font-size: 0.75rem;
}


